.section{
    width: 500px;
    height: auto;
    background:  #f7f4eb;
    padding: 10px;
    text-align: center;
    color: #230903;
    margin: auto;
    top: 150px;
    position: relative;
    border-radius: 4px;
    box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);

    & h2 {
        color: #214486;
    }
    .buttonContainer{
        width: 70%;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .accept{
        width: 90px;
        height: 30px;
        background: #39a34b;
        border-radius: 4px;
        border: 2px double #1c8d25;
        color: #214486;
        font-weight: bold;
        outline: none;
    }
    .accept:hover{
        background: lighten( #27a032, 5%);
        cursor: pointer;
        font-size: 15px;
        transition: all .2s ease-in-out;
    }
    .accept:active{
        transform: scale(0.98);
    }
    .decline{
        width: 90px;
        height: 30px;
        background: #be4747;
        border-radius: 4px;
        border: 2px double #751f1f;
        color: #214486;
        font-weight: bold;
        outline: none;
    }
    .decline:hover{
        background: darken( #be4747, 5%);
        cursor: pointer;
        font-size: 15px;
        transition: all .2s ease-in-out;
    }
    .decline:active{
        transform: scale(0.98);
    }
}