.section{
    margin-top: 300px !important;
    height: auto;
    min-height: 600px;
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: left;
	font-family: sans-serif;
	font-weight: 100;
    box-shadow: 0px 1px 5px 3px rgba(136,128,128,0.75);
    font-size: large;
    font-weight: 600;
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    z-index: 5;
    border-radius: 4px;
    background-image: repeating-linear-gradient(135deg, rgba(86, 86, 86, 0.02) 0px, rgba(86, 86, 86, 0.02) 22px,rgba(202, 202, 202, 0.02) 22px, rgba(202, 202, 202, 0.02) 67px,rgba(247, 247, 247, 0.02) 67px, rgba(247, 247, 247, 0.02) 113px,rgba(135, 135, 135, 0.02) 113px, rgba(135, 135, 135, 0.02) 132px,rgba(157, 157, 157, 0.02) 132px, rgba(157, 157, 157, 0.02) 153px,rgba(53, 53, 53, 0.02) 153px, rgba(53, 53, 53, 0.02) 171px,rgba(17, 17, 17, 0.02) 171px, rgba(17, 17, 17, 0.02) 181px,rgba(179, 179, 179, 0.02) 181px, rgba(179, 179, 179, 0.02) 220px),repeating-linear-gradient(135deg, rgba(58, 58, 58, 0.02) 0px, rgba(58, 58, 58, 0.02) 41px,rgba(198, 198, 198, 0.02) 41px, rgba(198, 198, 198, 0.02) 60px,rgba(176, 176, 176, 0.02) 60px, rgba(176, 176, 176, 0.02) 99px,rgba(173, 173, 173, 0.02) 99px, rgba(173, 173, 173, 0.02) 146px,rgba(164, 164, 164, 0.02) 146px, rgba(164, 164, 164, 0.02) 167px,rgba(179, 179, 179, 0.02) 167px, rgba(179, 179, 179, 0.02) 205px,rgba(228, 228, 228, 0.02) 205px, rgba(228, 228, 228, 0.02) 230px,rgba(23, 23, 23, 0.02) 230px, rgba(23, 23, 23, 0.02) 241px),repeating-linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0px, rgba(190, 190, 190, 0.02) 15px,rgba(74, 74, 74, 0.02) 15px, rgba(74, 74, 74, 0.02) 45px,rgba(98, 98, 98, 0.02) 45px, rgba(98, 98, 98, 0.02) 71px,rgba(43, 43, 43, 0.02) 71px, rgba(43, 43, 43, 0.02) 95px,rgba(131, 131, 131, 0.02) 95px, rgba(131, 131, 131, 0.02) 118px,rgba(21, 21, 21, 0.02) 118px, rgba(21, 21, 21, 0.02) 130px,rgba(77, 77, 77, 0.02) 130px, rgba(77, 77, 77, 0.02) 167px,rgba(231, 231, 231, 0.02) 167px, rgba(231, 231, 231, 0.02) 189px),linear-gradient(90deg, rgb(251, 251, 251),rgb(250, 250, 250));

    @media only screen and(max-width: 920px) {
        &{
            width: 1050px;
        }
    }
    & .btnCell{
        width: 50px;
    }
    & .mode{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 300px;
        height: 60px;
        border: 2px solid #4443;
        text-align: center;
        padding: 10px;
        box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.85);
        -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.85);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.85);

        & *{
            display: inline-block;
            margin: 5px;
        }
        & h3:hover{
            cursor: pointer;
            color: #000000;
            transform: scale(1.1);
            transition: .4s ease-in-out;
        }
        & h3:active{
            
            transform: scale(0.9);
        }
    }
    & #drop-menu{
        display: inline-block;
        position: relative;
        margin: 0px 10px;
    
        &:hover{
            transform: scale(1.3);
            cursor: pointer;
            transition: all .4s ease-in-out;
        }
        &:after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            box-shadow: 0px 0px 2px 2px rgba(3, 3, 3, 0.4);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
            transition: all  1.7s;
        }
    }
    #refresh{
        display: inline-block;
        position: relative;
        margin: 0px 10px;

        cursor: pointer;

            &:hover{
                animation: rotation 3s infinite linear;
            }

            &:active{
                transform: scale(1);
                animation: none;
            }
            &:after{
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                box-shadow: 0px 0px 2px 2px rgba(3, 3, 3, 0.4);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 4;
                transition: all  1.7s;
                border-radius: 25px;
            }
            @keyframes rotation{
                from {
                    transform: rotate(0deg) scale(1.2);
                }
                to{
                    transform: rotate(359deg) scale(1.2);
                }
            }
    }
    .section tr:hover td{
        background: rgb(235, 232, 232);
        cursor: pointer;
    }
    .section tr:hover span{
        background: rgb(235, 232, 232);
        cursor: pointer;;
    }
    

    & .font-color{
        color: #444343;
    }
    & .header{
        text-align: center;
    }
    & .buttons{
        display: inline-block;
    }
}