.menu-items-case {
    width: 100%;
    padding-left: 20%;
    margin: 0 !important;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    text-align: left;
    z-index: -5;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}
.menu-items-case *:not(:last-child){
    display: inline-block;
    padding-top: 25px !important;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    font-family: 'Fraunces', serif;
    color: #ffffff;
    background: #214486;
}
.menu-items-case *:not(:last-child):hover{
    border-radius:  4px;
    background: #265ea7;
    padding: 10px!important;
    margin: 10px;
    margin-top: 15px !important;
    transform: scale(1.05);
}
.menu-items-case *:active{
    transform: scale(0.95);
}
.signout{
    width: 100px;
    text-align: center;
    float: right;
    border-radius:  4px;
    background: #265ea7;
    padding: 10px!important;
    margin: 20px;
    margin-top: 20px !important;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 13px 0px #000000; 
    box-shadow: 0px 5px 13px 0px #000000;
    text-decoration: none;
    font-size: 20px;

}
.signout:hover{
    background: #7da2d3;
    transform: scale(1.05);
}
.signout:active{
    background: #7da2d3;
    transform: scale(0.95);
    
}