.menu-items-case {
    background-color: #b69d75;
    width: 140px;
    height: 60px;
    margin: 0;
    -webkit-border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    margin: 50px;
    text-align: center;
    z-index: 10;
    display: block;
    position: absolute;
    right: 0px;
    top: -35px;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.73); 
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.73);
    cursor: pointer;
}

.menu-items-case:hover {
    animation: menu-expand;
    animation-duration: .2s;
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

.menu-items-case hr{
    font-size: 2px !important;
    height: 2px !important;
    color: black !important;
    width: 100% !important;
    font-weight: 100;
    text-align: center !important;
    margin: 0 !important;
    font-weight: 200;
    padding: 0;
}

.menu-items-case p{
    visibility: visible !important;
    text-align: center;
    opacity: 1 !important;
    margin-top: 5px;
    color: black;
    transform: none !important;
}

.menu-items-case p:hover{
    border-radius: 100px;
}

.menu-items-case:hover > *{
    opacity: 1;
    visibility: visible;
    transition: visibility .3s linear, opacity 3s linear;
    display: block;
    
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: rgb(61, 59, 59);
}

.menu-items-case *{
    display: block;
    visibility: hidden;
    opacity: 0;
    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    height: 100%;
    font-weight: 700;
    font-size: large;
    color: rgb(61, 59, 59);
}

.menu-items-case *:hover {
    background-color: #b69d75;
    border-radius: 6px;
}

.menu-items-case a:hover {
    transform: scale(1.05);
    background:rgb(204, 201, 201);
}

.menu-items-case a {
    transform: scale(1.2);
}

.menu-items-case a:first-child:hover {
    border-radius: 16px 16px 6px 6px;
}

.menu-items-case a:last-child:hover {
    border-radius: 6px 6px 16px 16px;
}

@keyframes menu-expand {
    0% {
        
        border-radius: 25px 25px 25px 25px;
    }
    100% {
        width: 220px;
        height: auto;
        transform: translate(-5px);
        
        border-radius: 25px 25px 25px 25px;
    }
}