@keyFrames spin {
    0% { transform: rotate(0def);}
    100% { transform: rotate(360deg);}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Special Elite', cursive;
    font-family: 'Andika New Basic', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;  
    color: rgb(90, 88, 88);
}

