.section{
    position: absolute;
    z-index: 15;
    width: 100%;
    top: 10px;
    left: 0; 
    display: block;
    height: 105px;
    background: none;
}
.fix{
    position: fixed;
    z-index: 0;
    width: 100%;
    top: 10px;
    left: 0; 
    display: block;
    height: 105px;
    background: none;
}
.navbarLogo{
    display: inline-block;
    width: 100px;
    height: 100%;
}
.navbarLogo{
    height: auto;
    width: 15%;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 30px;
    background-image: repeating-linear-gradient(135deg, rgba(86, 86, 86, 0.02) 0px, rgba(86, 86, 86, 0.02) 22px,rgba(202, 202, 202, 0.02) 22px, rgba(202, 202, 202, 0.02) 67px,rgba(247, 247, 247, 0.02) 67px, rgba(247, 247, 247, 0.02) 113px,rgba(135, 135, 135, 0.02) 113px, rgba(135, 135, 135, 0.02) 132px,rgba(157, 157, 157, 0.02) 132px, rgba(157, 157, 157, 0.02) 153px,rgba(53, 53, 53, 0.02) 153px, rgba(53, 53, 53, 0.02) 171px,rgba(17, 17, 17, 0.02) 171px, rgba(17, 17, 17, 0.02) 181px,rgba(179, 179, 179, 0.02) 181px, rgba(179, 179, 179, 0.02) 220px),repeating-linear-gradient(135deg, rgba(58, 58, 58, 0.02) 0px, rgba(58, 58, 58, 0.02) 41px,rgba(198, 198, 198, 0.02) 41px, rgba(198, 198, 198, 0.02) 60px,rgba(176, 176, 176, 0.02) 60px, rgba(176, 176, 176, 0.02) 99px,rgba(173, 173, 173, 0.02) 99px, rgba(173, 173, 173, 0.02) 146px,rgba(164, 164, 164, 0.02) 146px, rgba(164, 164, 164, 0.02) 167px,rgba(179, 179, 179, 0.02) 167px, rgba(179, 179, 179, 0.02) 205px,rgba(228, 228, 228, 0.02) 205px, rgba(228, 228, 228, 0.02) 230px,rgba(23, 23, 23, 0.02) 230px, rgba(23, 23, 23, 0.02) 241px),repeating-linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0px, rgba(190, 190, 190, 0.02) 15px,rgba(74, 74, 74, 0.02) 15px, rgba(74, 74, 74, 0.02) 45px,rgba(98, 98, 98, 0.02) 45px, rgba(98, 98, 98, 0.02) 71px,rgba(43, 43, 43, 0.02) 71px, rgba(43, 43, 43, 0.02) 95px,rgba(131, 131, 131, 0.02) 95px, rgba(131, 131, 131, 0.02) 118px,rgba(21, 21, 21, 0.02) 118px, rgba(21, 21, 21, 0.02) 130px,rgba(77, 77, 77, 0.02) 130px, rgba(77, 77, 77, 0.02) 167px,rgba(231, 231, 231, 0.02) 167px, rgba(231, 231, 231, 0.02) 189px),linear-gradient(90deg, rgb(251, 251, 251),rgb(250, 250, 250));
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.42); 
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.42);
    z-index: 10;
}
.navbarLogo:hover{
    transform: scale(1.02);
}
.navbarLogo:active{
    transform: scale(1);
}
.logoLink{
    height: 80px;
    width: 150px;
}
.logo,
.logo:focus,
.logo:active,
.logo:visited{
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;   
}
.logo:hover{
    opacity: 0.8;
    font-family: 'Special Elite', cursive;
}
.links{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20%;

    & *{
        padding: 10px;
        margin: 30px 10px;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
        font-family: 'Fraunces', serif;
        color: #214486;
        background: none;
    }

    & *:hover{
        border-radius:  4px;
        background: #d1d2d4;
        text-decoration: underline;
        transform: scale(1.05);
    }

    & *:active{
        transform: scale(0.95);
    }

    & .active{
        border-radius:  4px;
        background: #d1d2d4;
        text-decoration: underline;
        transform: scale(1.05);
    }

}
.active{
    border-radius:  4px;
    background: #d1d2d4;
    text-decoration: underline;
    transform: scale(1.05);
}
@media only screen and (max-width: 550px){
    .button1{
        margin: 5px !important;
        position: absolute;
        top: 20px;
        right: 5px;
    }
    .button2{
        margin: 5px !important;
        position: absolute;
        top: 70px;
        right: 5px;
    }
    .navbarlogo{
        font-size: 10px !important;
        font-weight: 100 !important;
        margin-left: 10px;
        padding-left: 10px;
        width: 200px;
        height: 100%;
        
    }
}