.navbar-section{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; 
    display: block;
    height: 90px;
    background: linear-gradient(250deg, #e4d7c2, #b69d75 );
    -webkit-box-shadow: 0px 8px 12px -7px #000000, 2px 8px 12px 1px rgba(0,0,0,0.05); 
    box-shadow: 0px 8px 12px -7px #000000, 2px 8px 12px 1px rgba(0,0,0,0.05);
}
.navbar-logo-section{
    display: inline-block;
    width: 100px;
    height: 100%;
}
.navbar-end{
    display: inline;
    float: right;
    height: 100%;
}
.navbar-items{
    vertical-align: middle;
    height: 100%;
    padding-right: 20px;
}
.navbar-logo-section{
    margin-left: 50px;
    padding-left: 10px;
    width: 220px;
    height: 100%;
    font-weight: 900;
    font-size: 40px;
}
.logo,
.logo:focus,
.logo:active,
.logo:visited{
    font-family: 'Special Elite', cursive;
    text-shadow: -5px 2px 2px rgb(97, 89, 89);
    display: block;
    width: 100%;   
    padding-top: 10px;
    text-decoration: none;
    color: #230903; 
}
.logo:hover{
    opacity: 0.8;
    font-family: 'Special Elite', cursive;
}
.buttons-section,
.button a{
    height: 100%;
    width: 100%;
    padding-top: 20px;
}
.buttons-section *{
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}
