.section-signup{
    background-color: #D3B88C;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
    margin: auto;
    height: 250px;
    margin-top: 150px;
    display: block;
    box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);
    -webkit-box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);
    -moz-box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);
}

.section-signup input{
    display: block;
    margin: 0;
    outline: none;
}
.section-signup h2{
    padding-bottom: 10px;
}
.section-signup label{
    display: inline;
}
.section-signup label{
    padding: 2px;
}
.section-signup button{
    margin-top: 15px;
    float:right;
}