.section{
    background-color:  #f7f4eb;
    padding: 15px;
    width: 30%;
    margin: auto;
    height: auto;
    margin-top: 150px;
    display: block;
    box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);
    -webkit-box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);
    -moz-box-shadow: -1px 1px 5px 6px rgba(136,128,128,0.75);
    border-radius: 4px;
    
}

.section h2{
    text-align: center;
    padding: 5px 0px;
}
.submit{
    display: block;
    width: 100% !important;
    padding-top: 5px;
    position: relative;
    height: 40px;
}
.submit * {
    float: right;
}
